*{
	margin: 0;
	padding: 0;
}



header{
	width: 100%;
	text-align: center;
}

.head{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #D6D68B;
	width: 100%;
}
.head h1,
.head p{
	color: aliceblue;
}
.head p{
	letter-spacing: 3px;
}
.nav{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	padding: 8px;
	background-color:#FFFFCC ;
	border-radius: 10px;
}
.nav li{
	padding: 8px;
	margin: 50px;
	list-style-type: none;
	display: inline;	
}
.nav a{
	text-decoration: none;
	color: #E10602;
	font-size: 14px;
}

#page{
	width: 1000px;
	margin:0 auto;
}
iframe{
	border: 1px;
	width: 1000px;
}